
@model DTO.FavDTO

<div class="box-body">
    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Fav Title" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>


    <input type="number" name="ID" value="@Model.ID" hidden />

    <div class="form-group">
        @Html.LabelFor(x => x.LogoImage, "Select a image for Logo")

        <input type="file" name="LogoImage" accept="image/gif, image/jpeg, image/png, image/jpg"
               onchange="imagePreview(this, '#LogoImage')" />

        <br />

        @if (Model != null && Model.Logo != null)
        {
            <br />
            <img id="LogoImage" src="~/Areas/Admin/Content/FavImage/@Model.Logo" style="border:dashed 1px black; width:200px; height:200px;" />
        }
        else
        {
            <img width="200" height="200" id="LogoImage" style="border:dashed 1px black; width:200px; height:200px;"/>
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FavImage, "Select a image for Fav")

        <input type="file" name="FavImage" accept="image/gif, image/jpeg, image/png, image/jpg"
               onchange="imagePreview(this, '#FavImage')" />

        <br />

        @if (Model != null && Model.Fav != null)
        {
            <br />
            <img id="FavImage" src="~/Areas/Admin/Content/FavImage/@Model.Fav" style="border:dashed 1px black; width:200px; height:200px;" />
        }
        else
        {
            <img width="200" height="200" id="FavImage" style="border:dashed 1px black; width:200px; height:200px;"/>
        }
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
